{% extends "base.html" %}
{% block meta_title %}活動詳細{% endblock %}
{% block extra_head %}
<meta name="robots" content="noindex">
    <style>
        #intro{color:white;}
        #intro h1{ margin:40px auto;}
    @media screen and (max-width: 767px) {
        #intro h1{font-size:2.75rem !important;}
        #intro h3{font-size:2rem !important;}
        #intro p{font-size:1.5rem !important; line-height:5vh;}
    }
    @media screen and (min-width: 768px) and (max-width:1366px) {
        #intro h1{font-size:3.25rem;}
        #intro h3{font-size:2.5rem;}
        #intro p{font-size:2rem; line-height:5vh;}
    }
    @media screen and (min-width: 1367px) {
        #intro h2{font-size:4.5rem;}
        #intro h3{font-size:3.5rem;}
        #intro h1{font-size:7rem !important;}
        #intro p {font-size:3rem !important;}
    }

    </style>
{% endblock %}
{% block left_paneloriginal %}
{% endblock %}
{% block main_original %}
<div id="intro" class="col-md-10 center col-md-offset-1">
<h1 class="text-center">天文愛好会について</h1>
    <h3>基本的な活動について</h3>
    <p>私たちは平日は休み時間などに集まり、雑談を交わしあったり、トランプや観測会など、楽しい催し事をしたりしています。<br>
        まただいたい月に一回定例会を行い、合宿やイベントについて話し合ったり、雑談などを交わしたりしています。<br>
    </p><br>
    <h3>イベント活動について</h3>
    <p>イベントは長期休みを除き、毎月一回なにかしら楽しいイベント開催しています！(くわしくは<a style="font-size:110%;" href="/~yoshihiro/kta40thx/planning/">活動日程</a>を参照...)<br>
        そして、長期休みを利用して合宿を行い、普段行くことのできない星のよく見える場所に行き観測会を開いたり、空き時間を利用して温泉に行ったり、スポーツをしたり、様々なアクティビティをして楽しんでいます。
        毎年、夏合宿では、海に行き海水浴などをしたり、山に登ったり。冬合宿にはスキーを企画しています。また会員数名で観測会におもむくこともしばしば。。。<br>
        そして秋の駒澤大学公式イベントのオータムフェスティバルで、出店をすることもあります。2015年度のオータムフェスティバルでは初めての出店で、プラネタリウムを企画し会員一同全力で制作に打ち込み、当日はたくさんのお客さんにお越しいただき楽しんでもらいました!
    </p><br>
    <h3>天文愛好会について</h3>
    <p>天文愛好会は1975年(昭和50年)に創設された駒澤大学公認サークルです。<br>むかしはとても観測に力を入れたサークルでしたが、いまはアクティビティなどもして楽しみ、たまにちゃんとした観測会を企画する緩やかなサークルとなっております。<br>
    機材などもある程度揃っており、駒沢大学7号館の屋上には巨大な望遠鏡のついた天文ドームがあり、現在はそちらを部室代わりとして利用しています。</p>
    <br>
    <h3>入会について</h3>
    <p>まず１つ大事なことを言っておきますが、天文愛好会の会員は基本、みんな天文初心者です！ほとんど天文の知識はありません！<br>
       ごく一部の数名が、天文の知識があるため、その方達にレクチャーをしてもらい観測などを楽しんでいます。
        天文の知識のあるかたも歓迎してますし、もちろん！天文初心者も大歓迎です！<br><br>
        サークルのルールなどは軽く鍵の管理方法、サークル登録の案内などとても簡単なものばかりです。
        サークルの掛け持ちなどもOK! 会費も取っていません！(2016年度現在)<br>ゆるさが売りのサークルになってますので、もしご興味があればお気軽にご連絡をください！
    </p>
<h3 style="height:20vh;"></h3>
</div>
{% endblock %}
{% block right_paneloriginal %}
{% endblock %}
